body{
	background-color:#f0f0f0;
	
	}

/*Start NavBar*/
.navbar{
	background-color: #FFF;
	border: none;
}
.navbar-form .form-control{
	    margin-top: 16px;
	    margin-left: 93px;
   		border-radius: 0;
}
.navbar .fa{
    font-size: 43px;
    color: #a4a5a4;
    border-left: 1px solid #e9eae9;
    padding-left: 6px;
}
@media(max-width: 760px){
.navbar-form .form-control{
		width:40%; 	
}	
}
/*Start NavBar*/
/*Start Activity section */
.Activity .progress{
	text-align: center;
	width: 100%;
	margin: auto;
	border: 2px solid #ff3480;
	min-height: 60px;

}
.Activity .pro{
	width: 50%;
    height: 100%;
    font-size: 154%;
}

.Activity .progress-bar{
	background-color: #ff3480;
	-webkit-box-shadow:none;
	padding-top: 15px;
   font-size: 141%
}
.Activity .Button{
       min-height: 60px;
    background-color: #898989;
    color: #fff;
    font-size: 12px;
    padding: 0 36px;
}
.Activity .row{
	margin-top: 30px;
}
.left-box .progress{
	border: 2px solid #898989;
	margin-bottom: 10px;
	min-height: 75px;
}
.left-box .progress .pro{    
height: 100%;
    font-size: 104%;
    text-align: left;
    
    color: #FFF;
    background-color: #ff3480;
    line-height: 1em;
    padding-left: 25px;

}
.left-box .progress .pro1{    
		height: 100%;
  	 	color: #8c8c8c;
  		background-color: #f0f0f0;
  		    width: 50%;
  		    font-size: 104%;
    text-align: left;
    
    
    line-height: 1em;
    padding-left: 25px;
}
.left-box .progress .pro1 span{
	font-size: 10px;
}	

.left-box .progress-bar{
    background-color: #FFF;
    color: #000;
    text-align: left;
    padding-left: 10px;
    padding-top: 8px;
    font-size: 16px;
}

.left-box .progress .pro span{
	font-size: 10px;
}	

/*Sart right-box*/
    .right-box .top{
    	text-align: left;
    	color: #000;
    	border: 2px solid #898989;
    	background-color: #fff;
    }

    .right-box .top .heading{
    	    background-color: #ff3480;
    color: #fff;
    min-height: 59px;
    font-size: 25px;
    padding-left: 23px;
    padding-top: 8px;
    }
    .right-box .top p{
    	 padding-left: 23px;
    	 padding-top: 7px;
    font-weight: bold;
    }
   .right-box .top p a{
    	 color: #000;
    }
    .right-box .top p span{
    	font-size: 20px;
    }	
    .right-box .top p .green{
    	 color:#9be5d7;
    }
/*Start Med*/
   .right-box .med .quantity{
   		border: 2px solid #898989;
    	background-color: #fff;
   		 padding-left: 23px;
    	 padding-top: 7px;
    	font-weight: bold;
    	text-align: left;
    	margin-left: 6px;

    	max-width: 31%;
    	min-height: 69px;
    }
    @media (max-width: 460px){
    	  .right-box .med .quantity{  padding-left: 5px;
    padding-top: 3px;
    font-weight: bold;
    text-align: left;
    margin-left: 14px;
    max-width: 27%;
    }}
    /*End med*/
    /*Start bottom*/
    .right-box .bottom{
    text-align: left;
    	color: #000;
    	border: 2px solid #898989;
    	background-color: #fff;
    	margin-top: 10px;
    }
    .right-box .bottom p{
    	 padding-left: 23px;
    	 padding-top: 7px;
    	font-weight: bold;
    }
    .right-box .bottom span{
    	color: #000;
    	font-weight: normal;
    font-size: 15px;
    }
    .right-box .bottom .info >p{
    	display: inline-block; 
    	margin-right: 50px;
    } 
    .right-box .bottom p a{
    	 color: #000;
    }
    .right-box .bottom button{
    	margin-left: 27px;
    margin-bottom: 20px;
    margin-top: 13px;
    background-color: #04bd9c;
    width: 29%;
    height: 47px;
    color: #898989;	
    }
    /*End bottom*/
/*End right-box*/
/*End Activity section */
/*Start Calender Section*/
.Calendar{
	margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
}
#calendar {
		max-width: 900px;
		margin: 0 auto;
		font-size: 11px;
	}
	.fc-center h2{
		font-size: 23px;
	}
	.fc-content-skeleton tr{
		border-bottom: 1px solid #dddddd;
	}
	td .fc-day-top {
		padding: 0px 8%;
	}


/*End Calender Section*/
/*Start Footer Section*/
	.footer{
	background-color: #242b39;
	font-size: 20px;
	padding-top: 40px;
}
.footer p{
	display: block;
	color: #fff; 
	text-align: left;
}
.footer a{
	color: #7aaab5;
	text-decoration: none;
}
.footer ul{
	text-align: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.footer .padding{
	padding: 10px;
}
.footer img{
	width: 75%;
}
.footer h1,h3,h4{
	color: #fff;
	margin: 3px;
}
i{
	font-size: 30px;
	color: #fff;	
}
.cookies {
	background-color: #0c0e13;
	padding: 5px 0px 15px 30px;
	text-align: left;
}
/*End Footer Section*/
